<h1>Kathie Scott</h1>
<h2>Oil and acrylic artist</h2>
<p>My work is inspired by the wonderful Dorset scenery. I especially enjoy painting the harbours, boats and buildings, with the light and movement of the sea.</p>
<p>I use oils or acrylic as a medium, and am based in Lyme Regis, Dorset.</p>
<p>Member of both Lyme Regis Art Society &amp; Bridport Art Society.</p>
<h3>Exhibitions</h3>
<ul>
    <li>2014 &mdash; Exhibited Royal Academy West of England</li>
    <li>2014 &mdash; Allsop Gallery, Bridport</li>
    <li>2012-2014 &mdash; Dorset Art Week</li>
    <li>2012-2014 &mdash; The Salt House, West Bay</li>
</ul>
<h3>Get in touch</h3>
<p>To find out more about my work, please email me at:</p>