<h1>Kathie Scott</h1>
<p>My paintings are inspired by the wonderful scenery around my home in Lyme Regis, Dorset. I enjoy the harbours, boats and buildings, with the light and movement of the sea.</p>
<h2>Exhibitions</h2>
<ul>
    <li><em>Royal Academy</em>West of England, Bristol<span class="date">2014</span></li>
    <li><em>Autumn</em>Courtyard Gallery, Lyme Regis<span class="date">November 2014</span></li>
    <li><em>Sights, Scene and Sculpture</em>Courtyard Gallery, Lyme Regis<span class="date">June 2014</span></li>
    <li>Allsop Gallery, Bridport<span class="date">2014</span></li>
    <li>Dorset Art Week<span class="date">2012 &ndash; 2014</span></li>
    <li>The Salt House, West Bay<span class="date">2012 &ndash; 2014</span></li>

</ul>
<h2>Get in touch</h2>
<p>To find out more about my work or enquire about a painting, please contact me at:</p>
<ul>
    <li><a href="mailto:kathiescott50@gmail.com">kathiescott50@gmail.com</a></li>
</ul>