<h1>Kathie Scott</h1>
<p>Welcome to my portfolio of oil and acrylic artworks.</p>
<p>Inspired by the wonderful Dorset scenery and the light by the sea, I like to paint harbours, boats and buildings.</p>
<h5>Exhibitions &amp; events</h5>
<p>2014 - Shortlisted for Royal Society West of England</p>
<p>2012, 2013, 2014 - The Salt House, West Bay</p>
<p>Allsop Gallery, Bridport</p>
<p>Member of both Lyme Regis Art Society &amp; Bridport Art Society.</p>


2014 - Exhibited Royal Academy West of England,
Dorset Art Week
T M
