<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/blueimp-gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>

<!-- Gallery -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <div class="about">
                {{>about}}
            </div>
        </div>

        <div class="col-md-12">

            <div class="row">

                {{#images}}

                    <div class="col-lg-5 col-md-5 col-xs-6 thumb">

                        <a href="{{ image }}" title="{{ title }}" data-gallery>
                            <img class="img-responsive" width="303" height="303" src="{{ thumbnail }}" alt="{{ title }}">
                        </a>

                        <div>

                            <h3>{{ title }}</h3>

                            <p class="description">
                                {{#description}}
                                    <span>{{.}}</span>
                                {{/description}}
                            </p>

                        </div>
                    </div>

                {{/images}}

            </div>

        </div>

    </div>

    <div class="row text-center" id="footer">

        <p>All images &copy; Kathie Scott</p>
        <p><a title="Built by Ben Scott" href="http://benscott.co.uk">Website built by Ben Scott</a></p>

    </div>

</div>

{{>lightbox}}

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/vendor/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>

</body>
</html>